<h1>
Welcome to City Chicago!
</h1>
<form action="https://www.chicago.gov/city/en.html">
 <label>City Name</label>
 <input id="lily" type="text" name="city"><br><br>

 <button>Homepage</button>

</form>
