<h1>Welcome to City</h1>
<form action="https://www.chicago.gov/city/en.html">

 <label for="lily">What is the total population of Illinois?</label>
 <input id="lily" type="text" name="city"><br><br>

 <label for="jony">How many Cities are there in Illinois?</label>
 <input id="jony" type="text" name="city"><br><br>

 <button>Homepage</button>

</form>
