<h1>Login Form</h1>

<form action="/login/result">
  <div>
  <label for="username">Username:</label>
  <input id="username" type="text" name="username" placeholder="Enter your username" required><br><br>
  </div>
  <div>
   <label for="password">Password:</label>
  <input id="password" type="password" name="password" placeholder="Enter your password" required><br><br>
  </div>

  <button type="submit">login</button>

</form>
